@model TallinnaRakenduslikColllegeTARpe24_ChristoferKrabbi.Models.InstructorIndexData
@{ 
	ViewData["Title"] = "Õpetajad";
}
<h2>
	Õpetajad:
</h2>
<p>
<a asp-action ="Create">Lisa õpetaja</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Perekonnanimi</th>
			<th>Eesnimi</th>
			<th>Reputatsioon</th>
		</tr>
	</thead>
</table>